@font-face {
	font-family: 'DecimaMonoLight';
	src: url('decimamono-light-webfont.eot');
	src: local('Decima Mono'), local('DecimaMonoLight'), url('decimamono-light-webfont.woff') format('woff'), url('decimamono-light-webfont.ttf') format('truetype'), url('decimamono-light-webfont.svg#webfontuNgTZGoJ') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DecimaLight';
	src: url('decima-light-webfont.eot');
	src: local('Decima'), local('DecimaLight'), url('decima-light-webfont.woff') format('woff'), url('decima-light-webfont.ttf') format('truetype'), url('decima-light-webfont.svg#webfontf7zQ8qHD') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DecimaBold';
	src: url('decima-bold-webfont.eot');
	src: local('Decima'), local('DecimaBold'), url('decima-bold-webfont.woff') format('woff'), url('decima-bold-webfont.ttf') format('truetype'), url('decima-bold-webfont.svg#webfont75boeeA4') format('svg');
	font-weight: normal;
	font-style: normal;
}